TZ=Asia/Tokyo
MYSQL_ROOT_PASSWORD=P@ssw0rd
REDMINE_DB_MYSQL=mysql
REDMINE_DB_DATABASE=redmine
REDMINE_DB_USERNAME=redmine
REDMINE_DB_PASSWORD=redmine
REDMINE_DB_ENCODING=utf8mb4
REDMINE_MEMCACHED=memcached
